.about_card {
    .about_header {
        font-family: "Poppins", sans-serif;
        margin: 0px;
        color: #01273a;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 16px;
        span {
            color: red;
        }
    }

    .about_body {
        font-family: "Poppins", sans-serif;
        color: #696969;
        font-size: 12px;
        line-height: 27px;
        font-weight: 400;
        letter-spacing: 0.3px;
    }
}

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 11px;
}

// mat-grid-tile {
//     background: lightsteelblue;
//   }
  