<mat-grid-list cols="2" rowHeight="1:1">
    <mat-grid-tile>
        <mat-card class="about_card" id="about">
            <mat-card-header class="about_header">
                <h1>À PROPOS DE <span>MON RDC</span> </h1>
            </mat-card-header>
            <mat-card-content class="about_body"> 
                <p>
                    Le principal problème des entreprises sur le marché actuel consiste à trouver
                    le type de clients <br> potentiels qui générera de nouvelles affaires. 
                    Mon RDC est le répertoire Numéro 1 en RDC CONGO, <br>
                    qui offrent une solution qui surpasse l’ancienne approche de la publicité en proposant 
                    des services <br> numériques et des stratégies basés sur la technologie qui simplifient le marketing en ligne. 
                    En nous <br> inspirant de la science des données et de l'analyse, 
                    nous  traçons les parcours numériques de nos <br> clients pour créer les bonnes expériences pour 
                    les bonnes personnes, sur la base de comportements <br> numériques. 
                    Le résultat est des campagnes hautement ciblées, 
                    personnalisées pour répondre aux <br> demandes spécifiques de l'audience et générer des actions significatives.
                </p> 
                <br>
                <p>
                    Ce faisant, nous garantissons l'utilisation la plus efficace de votre budget marketing avec 
                    des <br> rendements mesurables..
                </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
            <mat-card class="about_card" id="about">
                <mat-card-content class="about_image"> 
                    <img src="../../../assets/img/about-user.png" alt="">
                </mat-card-content>
            </mat-card>
    </mat-grid-tile>
</mat-grid-list>



