.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    margin-top: 3em;
  }
  
  .example-full-width {
    width: 100%;
  }

.title_login {
    text-align: center;
}

.img_login {
  height: 30px;
  width: 150px;
  padding: 0;
}

.btn_login {
  color: blueviolet;
}