<section id="book" class="mt-5">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
                <div class="card_book">
                    <div class="card">
                        <div class="card-body text-center">
                            <h4 class="card-title">{{ business.societe }}</h4>
                            <p class="card-text">
                                {{ business.nom }}
                            </p>
                            <a href="{{ business.category }}" class="btn btn-block btn-primary"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    