
<mat-card class="example-form">
    <form>
        <mat-card-title>Rénitialisation de votre Mot de Passe</mat-card-title>
        <br>
        <mat-card-subtitle>Veuillez entrer votre adresse email pour demander une réinitialisation du mot de passe.</mat-card-subtitle>
        <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>Password de Rénitialisation</mat-label>
            <input type="password" matInput placeholder="Password" #passwordResetEmail required>
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Gardez votre Mot de Passe au secret.</mat-hint>
        </mat-form-field>
        <br><br> 
        <button mat-raised-button color="warn" type="submit" (click)="authService.ForgotPassword(passwordResetEmail.value)">Reinitialisez</button>
    </form>
</mat-card>
