
<mat-card class="example-form">
    <form>
        <mat-card-title>Vérification de votre adresse Mail</mat-card-title>
        <br>
        <mat-card-subtitle *ngIf="authService.userData as user">Nous avons envoyé un email de confirmation à <strong>{{user.email}}</strong>.</mat-card-subtitle>
        <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>Email de Verification</mat-label>
            <input type="email" matInput placeholder="Email">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Renvoyez votre Email de Verification</mat-hint>
        </mat-form-field>
        <br><br> 
        <button type="submit" mat-raised-button color="primary" (click)="authService.SendVerificationMail()">Renvoyez</button>
    </form>
</mat-card>
